@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --white-color: #fff;
    --blue-color: #17A2B8;
    --black-color: #181818;
    --text-muted-color: #919191;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* Navbar */

.image img {
    position: absolute;
    right: 0px;
    width: 576px;
    height: 900px;
}

.image {
    position: absolute;
    margin-left: 765px;
    margin-top: -40px;
    right: 0;
}

nav {
    border: 1px solid grey;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.navbar img {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-nav {
    margin: 30px 0;
    max-width: 100%;
}

.navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color);
}

.nav-item {
    margin-left: 40px;
}

/* Title Highlight*/

.pages .container {
    max-width: 1260px;
}

.pages .container .vision-mission {
    margin-top: 50px;
}

.pages .container .title p {
    font-weight: 600;
    color: var(--blue-color);
    font-size: 24px;
}

.pages .container .title h1 {
    font-weight: 700;
    color: var(--black-color);
    font-size: 48px;
}


/* Content */

.container {
    margin-top: 50px;
}

.content1 .text h1 {
    font-weight: 700;
    color: var(--black-color);
    font-size: 48px;
    width: 800px;
}

.content1 .text p {
    width: 642px;
    font-weight: 500;
    font-size: 20px;
    color: var(--text-muted-color);
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content1 .text button {
    border: none;
    padding: 16px 32px;
    background-color: #17A2B8;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.content1-2 {
    margin: 135px 0 0 0;
}

.content1-2 p {
    margin-left: 40px;
    margin-top: -31px;
    color: #919191;
}

.content1-2 .multiple-items {
    width: 500px;
    height: 200px;
}

.prevnext .carousel-control-next {
    background-color: #17A2B8;
    width: fit-content;
    height: fit-content;
    position: relative;
    border-radius: 0 40px 40px 0;
    padding: 10px 10px;
    margin: 75px 420px 0 0;
}

.prevnext .carousel-control-prev {
    background-color: #17A2B8;
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 10px 10px;
    border-radius: 40px 0 0 40px;
    margin: 75px 0 0 -73px;
}

.prevnext {
    display: flex;
    margin-top: -570px;
    margin-left: 20px;
}

#carouselExampleAutoPlaying.carousel.slide {
    right: 0;
}

.content2 {
    margin-top: 50px;
}

.content2 p {
    color: #17A2B8;
}

.content2 h1 {
    margin-bottom: 50px;
}

.content2 img {
    position: absolute;
    width: 493px;
    height: 595px;
    margin-left: 739px;
    margin-top: 130px;
}

.tab {
    overflow: hidden;
    width: 640px;
    margin-left: -15px;
}

.contain-tabs {
    margin-bottom: 40px;
}

.tabcontent p {
    font-size: 20px;
    font-weight: 400;
    color: #919191;
    line-height: 25px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 30px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.2);
}

.tab button:hover {
    color: #17A2B8;
}

.tab button.active {
    color: #17A2B8;
}

.tabcontent {
    display: none;
    max-width: 600px;
}

.flexUl {
    display: flex;
    margin-left: -10px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.flexUl .con p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--black-color);
}

.flexUl .con ul li {
    color: var(--text-muted-color);
}

/* Portofolio */
.portofolio {
    margin-top: 100px;
    margin-bottom: 100px;
}

.wrapper-portofolio .porto-content{
    margin-bottom: 150px;
}

.porto-content {
    display: flex;
    margin: 100px 0 0;
}

.porto-content .porto-img img {
    position: absolute;
    left: 0;
    width: 697px;
    height: 376px;
    border-radius: 0 30px 30px 0;
}

.porto-content .porto-img-right img {
    position: absolute;
    right: 0;
    width: 697px;
    height: 376px;
    border-radius: 30px 0 0 30px;
}

.porto-content .container {
    margin: 0 30px 0 600px;
}

.porto-content .container .title-desc h1 {
    font-size: 40px;
    font-weight: 700;
}

.porto-content .container .title-desc h6 {
    font-size: 20px;
    font-weight: 500;
}

.porto-content .container .client {
    margin-top: 100px;
}

.porto-content .container .client p {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-muted-color);
}

.porto-content .container-left {
    margin: 0 600px 0 0;
}

.porto-content .container-left .title-desc h1 {
    font-size: 40px;
    font-weight: 700;
}

.porto-content .container-left .title-desc h6 {
    font-size: 20px;
    font-weight: 500;
}

.porto-content .container-left .client {
    margin-top: 100px;
}

.porto-content .container-left .client p {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-muted-color);
}

.btn-outline-info {
    display: block;
    margin: auto;
    width: 174px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0%;
    color: var(--blue-color);
    border-color: var(--blue-color);
    padding: 16px 32px;
}

.btn:hover {
    color: var(--white-color);
}


/* Vision Mission */

.vision-mission .content {
    margin-top: 40px;
}

.vision-mission .content img {
    width: 564px;
    height: 509.01px;
    margin-left: -48px;
}

.vision-mission .content .box {
    border: 0.787603px solid #DBDBDB;
    padding: 15px 25px;
    margin-bottom: 25px;
}

.vision-mission .content .desc .box h6 {
    font-size: 16px;
    color: var(--blue-color);
    font-weight: 600;
}

.vision-mission .content .desc .box h3 {
    font-size: 25px;
    color: var(--black-color);
    font-weight: 600;
}

.vision-mission .content .desc .box p {
    font-size: 20px;
    color: var(--text-muted-color);
    font-weight: 500;
}

/* Testimonial */
.testimonial .card-testi {
    margin-top: 20px;
    background: #FFFFFF;
    /* box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.07); */
}

.testimonial .card-testi .content-card {
    padding-top: 20px;
    padding-right: 25px;
}

.testimonial .card-testi .content-card .profile-picture .title-card p {
    color: var(--text-muted-color);
    font-size: 16px;
}

.testimonial .card-testi .content-card .profile-picture img {
    width: 60px;
    height: 60px;
}

.testimonial .card-testi .content-card .profile-picture .title-card h4 {
    font-weight: 700;
    font-size: 25px;
}


.testimonial .card-testi .content-card p {
    text-align: start;
}

/* Footer */

footer {
    border: solid 0.5px black;
    margin-top: 100px;
}

footer .container {
    max-width: 1200px;
}

footer .container .footer-content .footer-brand img {
    width: 81px;
    margin-bottom: 20px;
}

footer .container .footer-content .footer-desc p {
    font-size: 14px;
    color: var(--text-muted-color);
    margin-bottom: 20px;
}

footer .container .footer-content .footer-social a {
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--text-muted-color);
}

footer .container .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 52px 0;
}

footer .container .footer-content .footer-item {
    max-width: 400px;
}

footer .container .footer-content .footer-item h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .container .footer-content .footer-item .menu {
    display: flex;
    flex-direction: column;
}

footer .container .footer-content .footer-item .menu a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-muted-color);
    margin: 5px 0;
}

footer .container .footer-content .footer-item .no-telp p {
    font-size: 32px;
    font-weight: 500;
}

footer .container .kopikanan {
    margin: 0 0;
    text-align: center;
    padding: 15px 10px;
}

/* Responsive */

@media screen and (max-width: 1400px) {
    .pages .container {
        max-width: 1200px;
    }

    .image img {
        position: absolute;
        right: 0;
        width: 580px;
    }

    .navbar img {
        margin-left: 40px;
        margin-right: 40px;
    }

    .porto-content .porto-img img{
        position: absolute;
        left: 0;
        width: 610px;
        height: 360px;
    }

    .porto-content .porto-img-right img{
        position: absolute;
        right: 0;
        width: 610px;
        height: 360px;
    }

    .wrapper-portofolio .porto-content{
        margin-bottom: 140px;
    }

    .porto-content .container-left {
        margin: 0 610px 0 0;
    }

    .porto-content .container .client {
        margin-top: 35px;
    }

    .content1 .text h1 {
        width: 650px;
    }

    .content1-2 .multiple-items {
        height: 200px;
    }

    .flexUl .con {
        margin-top: 10px;
    }

    #carouselExampleAutoPlaying.carousel.slide {
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
    .carousel-indicators {
        top: 450px;
    }

    .pages .container {
        max-width: 910px;
    }

    .image img {
        display: none;
    }

    .carousel {
        display: none;
    }

    .content1-2 {
        margin: 50px 0 0 0;
    }

    .content1-2 p {
        margin-left: 40px;
        margin-top: -31px;
        color: var(--text-muted-color);
    }

    .flexUl .con {
        margin-top: 10px;
    }

    .flexUl .con p {
        font-size: 25px;
    }

    .flexUl .con ul li {
        font-size: 20px;
    }

    .portofolio {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .porto-content {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0;
    }

    .wrapper-portofolio .porto-content{
        margin-bottom: 120px;
    }

    .porto-content .porto-img img {
        position: relative;
        width: 890px;
        height: auto;
        left: 0;
        border-radius: 15px;
    }

    .porto-content .porto-img-right img {
        position: relative;
        width: 890px;
        height: auto;
        border-radius: 15px;
    }

    .porto-content .container {
        margin: 30px 0 30px 0;
    }

    .porto-content .container .title-desc h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .porto-content .container .title-desc h6 {
        font-size: 20px;
        font-weight: 500;
    }

    .porto-content .container .client {
        margin-top: 10px;
    }

    .porto-content .container .client img{
        width: 230px;
    }

    .porto-content .container .client p {
        font-size: 18px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .porto-content .container-left {
        margin: 30px 10px 30px 10px;
    }

    .porto-content .container-left .title-desc h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .porto-content .container-left .title-desc h6 {
        font-size: 18px;
        font-weight: 500;
    }

    .porto-content .container-left .client {
        margin-top: 10px;
    }

    .porto-content .container-left .client img{
        width: 230px;
    }

    .porto-content .container-left .client p {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .vision-mission .content .box {
        margin-bottom: 5px;
    }

    .vision-mission .content .desc .box h6 {
        font-size: 14px;
    }

    .vision-mission .content .desc .box h3 {
        font-size: 20px;
    }

    .vision-mission .content .desc .box p {
        font-size: 16px;
    }

    footer .container {
        max-width: 910px;
    }

    footer .container .footer-content .footer-item {
        max-width: 600px;
    }
}

@media screen and (max-width: 991px) {
    .navbar img {
        margin-left: 30px;
        margin-right: 0px;
    }

    footer .container .footer-content .footer-brand img {
        width: 150px;
        margin-bottom: 20px;
    }

    .pages .container {
        max-width: 750px;
    }

    .pages .container .title p {
        font-weight: 600;
        color: var(--blue-color);
        font-size: 20px;
    }

    .pages .container .title h1 {
        font-weight: 700;
        color: var(--black-color);
        font-size: 40px;
    }

    .pages .container .content1 .title p {
        font-weight: 500;
        color: var(--blue-color);
        font-size: 20px;
    }

    .pages .container .text h1 {
        font-weight: 800;
        color: var(--black-color);
        font-size: 40px;
        max-width: 700px;
    }

    .pages .container .text p {
        font-weight: 500;
        color: var(--text-muted-color);
        font-size: 18px;
        width: 600px;
    }

    .carousel-indicators {
        top: 500px;
    }

    .image img {
        display: none;
    }

    .carousel {
        display: none;
    }

    .pages .container .text button {
        border: none;
        padding: 10px 20px;
        background-color: #17A2B8;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }

    .content1-2 {
        margin: 50px 0 0 0;
    }

    .content1-2 p {
        margin-left: 40px;
        margin-top: -31px;
        color: #919191;
    }

    .content1-2 .multiple-items {
        height: 200px;
    }

    .pages .container .content2 .title p {
        font-weight: 500;
        color: var(--blue-color);
        font-size: 20px;
    }

    .pages .container .content2 .title h1 {
        font-weight: 800;
        color: var(--black-color);
        font-size: 40px;
        margin-bottom: 10px;
    }

    .pages .container .content2 .tab {
        font-size: 28px;
    }

    .pages .container .content2 .tab button {
        font-size: 30px;
    }

    .pages .container .content2 .contain-tabs .tabcontent p {
        font-size: 18px;
        margin: 10px 0 0 0;
    }

    .flexUl {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .flexUl .con {
        margin-top: 10px;
    }

    .flexUl .con p {
        font-size: 25px;
    }

    .flexUl .con ul li {
        font-size: 18px;
    }

    .portofolio {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .porto-content {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0;
    }

    .wrapper-portofolio .porto-content{
        margin-bottom: 100px;
    }

    .porto-content .porto-img img {
        position: relative;
        width: 725px;
        height: auto;
        left: 0;
        border-radius: 15px;
    }

    .porto-content .porto-img-right img {
        position: relative;
        width: 725px;
        height: auto;
        border-radius: 15px;
    }

    .porto-content .container {
        margin: 30px 0 30px 0;
    }

    .porto-content .container .title-desc h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .porto-content .container .title-desc h6 {
        font-size: 18px;
        font-weight: 500;
    }

    .porto-content .container .client {
        margin-top: 10px;
    }

    .porto-content .container .client img{
        width: 200px;
    }

    .porto-content .container .client p {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .porto-content .container-left {
        margin: 30px 10px 30px 10px;
    }

    .porto-content .container-left .title-desc h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .porto-content .container-left .title-desc h6 {
        font-size: 18px;
        font-weight: 500;
    }

    .porto-content .container-left .client {
        margin-top: 10px;
    }

    .porto-content .container-left .client img{
        width: 200px;
    }

    .porto-content .container-left .client p {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .vision-mission .content img {
        width: 750px;
        height: 750px;
        margin-bottom: 30px;
    }

    .vision-mission .content {
        display: flex;
        flex-direction: column;
    }

    .vision-mission .content .box {
        border: 0.787603px solid #DBDBDB;
        padding: 20px 25px;
        margin-bottom: 35px;
    }

    .vision-mission .content .desc .box h6 {
        font-size: 16px;
        color: var(--blue-color);
        font-weight: 600;
    }

    .vision-mission .content .desc .box h3 {
        font-size: 25px;
        color: var(--black-color);
        font-weight: 600;
    }

    .vision-mission .content .desc .box p {
        font-size: 18px;
        color: var(--text-muted-color);
        font-weight: 500;
    }

    .testimonial .card-testi .content-card p {
        font-size: 18px;
    }

    .testimonial .card-testi .content-card .profile-picture .title-card p {
        color: var(--text-muted-color);
        font-size: 18px;
    }

    .testimonial .card-testi .content-card .profile-picture img {
        width: 60px;
        height: 60px;
    }

    .testimonial .card-testi .content-card .profile-picture .title-card h4 {
        font-weight: 700;
        font-size: 25px;
    }

    footer .container {
        max-width: 750px;
    }

    footer .container .footer-content .footer-item {
        max-width: 600px;
    }

    footer .container .footer-content .footer-desc p {
        font-size: 20px;

    }

    footer .container .footer-content .footer-social a {
        font-size: 20px;
    }

    footer .container .footer-content .footer-item h1 {
        font-size: 20px;
    }

    footer .container .footer-content .footer-item .menu a {
        font-size: 18px;
    }

    footer .container .footer-content .footer-item .no-telp p {
        font-size: 20px;
    }

    footer .container .kopikanan {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .navbar .container-fluid img {
        margin-left: 0px;
    }

    .pages .container {
        max-width: 650px;
    }

    .pages .container .title p {
        font-weight: 600;
        color: var(--blue-color);
        font-size: 18px;
    }

    .pages .container .title h1 {
        font-weight: 700;
        color: var(--black-color);
        font-size: 30px;
    }

    .image img {
        display: none;
    }

    .carousel {
        display: none;
    }

    .pages .container .content1 .title p {
        font-weight: 500;
        color: var(--blue-color);
        font-size: 18px;
    }

    .pages .container .text h1 {
        font-weight: 800;
        color: var(--black-color);
        font-size: 30px;
        max-width: 400px;
    }

    .pages .container .text p {
        font-weight: 500;
        color: var(--text-muted-color);
        font-size: 16px;
        width: 400px;
    }

    .pages .container .text button {
        border: none;
        padding: 10px 20px;
        background-color: #17A2B8;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }

    .content1-2 {
        margin: 50px 0 0 0;
    }

    .content1-2 p {
        margin-left: 40px;
        margin-top: -31px;
        color: #919191;
    }

    .content1-2 .multiple-items {
        width: 470px;
        height: 200px;
    }

    .pages .container .content2 .title p {
        font-weight: 500;
        color: var(--blue-color);
        font-size: 18px;
    }

    .pages .container .content2 .title h1 {
        font-weight: 800;
        color: var(--black-color);
        font-size: 30px;
        max-width: 550px;
        margin-bottom: 10px;
    }

    .pages .container .content2 .tab {
        font-size: 28px;
        max-width: 470px;
    }

    .pages .container .content2 .tab button {
        font-size: 28px;
    }

    .pages .container .content2 .contain-tabs .tabcontent p {
        font-size: 16px;
        margin: 10px 0 0 0;
        max-width: 430px;
    }

    .flexUl {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .flexUl .con {
        margin-top: 10px;
    }

    .flexUl .con p {
        font-size: 20px;
    }

    .flexUl .con ul li {
        font-size: 16px;
    }

    .carousel-indicators {
        top: 740px;
    }

    .carousel-indicators {
        top: 500px;
    }


    .portofolio {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .porto-content {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0;
    }

    .wrapper-portofolio .porto-content{
        margin-bottom: 80px;
    }

    .porto-content .porto-img img {
        position: relative;
        width: 530px;
        height: auto;
        left: 0;
        border-radius: 15px;
    }

    .porto-content .porto-img-right img {
        position: relative;
        width: 530px;
        height: auto;
        border-radius: 15px;
    }

    .porto-content .container {
        margin: 30px 0 30px 0;
    }

    .porto-content .container .title-desc h1 {
        font-size: 20px;
        font-weight: 700;
    }

    .porto-content .container .title-desc h6 {
        font-size: 16px;
        font-weight: 500;
    }

    .porto-content .container .client {
        margin-top: 10px;
    }

    .porto-content .container .client img{
        width: 130px;
    }

    .porto-content .container .client p {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .porto-content .container-left {
        margin: 30px 10px 30px 10px;
    }

    .porto-content .container-left .title-desc h1 {
        font-size: 20px;
        font-weight: 700;
    }

    .porto-content .container-left .title-desc h6 {
        font-size: 16px;
        font-weight: 500;
    }

    .porto-content .container-left .client {
        margin-top: 10px;
    }

    .porto-content .container-left .client img{
        width: 100px;
    }

    .porto-content .container-left .client p {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .vision-mission .content img {
        width: 520px;
        height: 520px;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .vision-mission .content {
        display: flex;
        flex-direction: column;
    }

    .vision-mission .content .box {
        border: 0.787603px solid #DBDBDB;
        padding: 20px 25px;
        margin-bottom: 35px;
    }

    .vision-mission .content .desc .box h6 {
        font-size: 16px;
        color: var(--blue-color);
        font-weight: 600;
    }

    .vision-mission .content .desc .box h3 {
        font-size: 20px;
        color: var(--black-color);
        font-weight: 600;
    }

    .vision-mission .content .desc .box p {
        font-size: 16px;
        color: var(--text-muted-color);
        font-weight: 500;
    }

    .testimonial .card-testi .content-card p {
        font-size: 16px;
    }


    .testimonial .card-testi .content-card .profile-picture img {
        width: 70px;
        height: 70px;
    }

    .testimonial .card-testi .content-card .profile-picture .title-card h4 {
        font-weight: 700;
        font-size: 20px;
    }

    footer .container {
        max-width: 650px;
    }

    footer .container .footer-content .footer-brand img {
        width: 120px;
        margin-bottom: 20px;
    }

    footer .container .footer-content .footer-desc p {
        font-size: 18px;
        color: var(--text-muted-color);
        margin-bottom: 20px;
    }

    footer .container .footer-content .footer-social a {
        font-size: 18px;
        margin-bottom: 15px;
        text-decoration: none;
        color: var(--text-muted-color);
    }

    footer .container .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 0;
    }

    footer .container .footer-content .footer-item h1 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    footer .container .footer-content .footer-item .menu a {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: var(--text-muted-color);
        margin: 5px 0;
    }

    footer .container .footer-content .footer-item .no-telp p {
        font-size: 32px;
        font-weight: 500;
    }

    footer .container .kopikanan {
        margin: 0 0;
        text-align: center;
        padding: 18px 10px;
    }

}

@media screen and (max-width: 576px) {
    .pages .container {
        max-width: 470px;
    }

    .pages .container .title p {
        font-weight: 600;
        color: var(--blue-color);
        font-size: 18px;
    }

    .pages .container .title h1 {
        font-weight: 700;
        color: var(--black-color);
        font-size: 30px;
    }

    .navbar {
        padding-left: -70px;
    }

    .navbar .container-fluid img {
        margin-left: 10px;
    }

    .image img {
        display: none;
    }

    .carousel {
        display: none;
    }

    .pages .container .content1 .title p {
        font-weight: 500;
        color: var(--blue-color);
        font-size: 18px;
    }

    .pages .container .text h1 {
        font-weight: 800;
        color: var(--black-color);
        font-size: 30px;
        max-width: 400px;
    }

    .pages .container .text p {
        font-weight: 500;
        color: var(--text-muted-color);
        font-size: 16px;
        width: 400px;
    }

    .pages .container .text button {
        border: none;
        padding: 10px 20px;
        background-color: #17A2B8;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }

    .content1-2 {
        margin: 50px 0 0 0;
    }

    .content1-2 p {
        margin-left: 40px;
        margin-top: -31px;
        color: #919191;
    }

    .content1-2 .multiple-items {
        width: 470px;
        height: 200px;
    }

    .pages .container .content2 .title p {
        font-weight: 500;
        color: var(--blue-color);
        font-size: 18px;
    }

    .pages .container .content2 .title h1 {
        font-weight: 800;
        color: var(--black-color);
        font-size: 30px;
        max-width: 550px;
        margin-bottom: 10px;
    }

    .pages .container .content2 .tab {
        font-size: 28px;
        max-width: 470px;
    }

    .pages .container .content2 .tab button {
        font-size: 28px;
    }

    .pages .container .content2 .contain-tabs .tabcontent p {
        font-size: 16px;
        margin: 10px 0 0 0;
        max-width: 430px;
    }

    .flexUl {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .flexUl .con {
        margin-top: 10px;
    }

    .flexUl .con p {
        font-size: 20px;
    }

    .flexUl .con ul li {
        font-size: 16px;
    }

    .carousel-indicators {
        top: 800px;
    }

    .carousel-indicators {
        top: 500px;
    }

    .portofolio {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .porto-content {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0;
    }

    .wrapper-portofolio .porto-content{
        margin-bottom: 50px;
    }


    .porto-content .porto-img img {
        position: relative;
        width: 445px;
        height: auto;
        left: 0;
        border-radius: 15px;
    }

    .porto-content .porto-img-right img {
        position: relative;
        width: 445px;
        height: auto;
        border-radius: 15px;
    }

    .porto-content .container {
        margin: 30px 0 30px 0;
    }

    .porto-content .container .title-desc h1 {
        font-size: 20px;
        font-weight: 700;
    }

    .porto-content .container .title-desc h6 {
        font-size: 16px;
        font-weight: 500;
    }

    .porto-content .container .client {
        margin-top: 10px;
    }

    .porto-content .container .client img{
        width: 130px;
    }

    .porto-content .container .client p {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .porto-content .container-left {
        margin: 30px 10px 30px 10px;
    }

    .porto-content .container-left .title-desc h1 {
        font-size: 20px;
        font-weight: 700;
    }

    .porto-content .container-left .title-desc h6 {
        font-size: 16px;
        font-weight: 500;
    }

    .porto-content .container-left .client {
        margin-top: 10px;
    }

    .porto-content .container-left .client img{
        width: 100px;
    }

    .porto-content .container-left .client p {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .vision-mission .content img {
        width: 410px;
        height: 371.01px;
        margin-bottom: 30px;
    }

    .vision-mission .content {
        display: flex;
        flex-direction: column;
    }

    .vision-mission .content .box {
        border: 0.787603px solid #DBDBDB;
        padding: 20px 25px;
        margin-bottom: 35px;
    }

    .vision-mission .content .desc .box h6 {
        font-size: 18px;
        color: var(--blue-color);
        font-weight: 600;
    }

    .vision-mission .content .desc .box h3 {
        font-size: 30px;
        color: var(--black-color);
        font-weight: 600;
    }

    .vision-mission .content .desc .box p {
        font-size: 16px;
        color: var(--text-muted-color);
        font-weight: 500;
    }

    .testimonial .card-testi .content-card p {
        font-size: 16px;
    }

    footer .container {
        max-width: 470px;
    }

    footer .container .footer-content .footer-desc p {
        font-size: 16px;
        color: var(--text-muted-color);
        margin-bottom: 20px;
    }

    footer .container .footer-content .footer-social a {
        font-size: 16px;
        margin-bottom: 15px;
        text-decoration: none;
        color: var(--text-muted-color);
    }

    footer .container .footer-content .footer-item h1 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    footer .container .footer-content .footer-item .menu a {
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: var(--text-muted-color);
        margin: 5px 0;
    }

    footer .container .footer-content .footer-item .no-telp p {
        font-size: 32px;
        font-weight: 500;
    }

    footer .container .kopikanan {
        margin: 0 0;
        text-align: center;
        font-size: 14px;
        padding: 18px 10px;
    }
}


@media screen and (max-width: 500px) {
    .pages .container {
        max-width: 300px;
    }

    .pages .container .title p {
        font-weight: 600;
        color: var(--blue-color);
        font-size: 12px;
    }

    .pages .container .title h1 {
        font-weight: 700;
        color: var(--black-color);
        font-size: 16px;
    }


    .navbar {
        padding-left: -70px;
    }

    .navbar .container-fluid img {
        margin-left: 10px;
    }

    .image img {
        display: none;
    }

    .carousel {
        display: none;
    }

    .pages .container .content1 .title p {
        font-weight: 500;
        color: var(--blue-color);
        font-size: 12px;
    }

    .pages .container .text h1 {
        font-weight: 800;
        color: var(--black-color);
        font-size: 16px;
        max-width: 300px;
    }

    .pages .container .text p {
        font-weight: 500;
        color: var(--text-muted-color);
        font-size: 12px;
        width: 300px;
    }

    .pages .container .text button {
        border: none;
        padding: 10px 20px;
        background-color: #17A2B8;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }

    .content1-2 {
        margin: 50px 0 0 0;
    }

    .content1-2 p {
        margin-left: 40px;
        margin-top: -31px;
        color: #919191;
    }

    .content1-2 .multiple-items {
        width: 300px;
        height: 150px;
    }

    .pages .container .content2 .title p {
        font-weight: 500;
        color: var(--blue-color);
        font-size: 12px;
    }

    .pages .container .content2 .title h1 {
        font-weight: 800;
        color: var(--black-color);
        font-size: 16px;
        max-width: 550px;
        margin-bottom: 10px;
    }

    .pages .container .content2 .tab {
        font-size: 28px;
        max-width: 300px;
    }

    .pages .container .content2 .tab button {
        font-size: 28px;
    }

    .pages .container .content2 .contain-tabs .tabcontent p {
        font-size: 12px;
        margin: 10px 0 0 0;
        max-width: 430px;
    }

    .flexUl {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .flexUl .con {
        margin-top: 10px;
    }

    .flexUl .con p {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 600;
        color: var(--black-color);
    }

    .flexUl .con ul li {
        font-size: 12px;
        color: var(--text-muted-color);
    }

    .carousel-indicators {
        top: 800px;
    }

    .carousel-indicators {
        top: 500px;
    }


    .testimonial .card-testi {
        margin-top: 20px;
        background: #FFFFFF;
        /* box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.07); */
    }

    .testimonial .card-testi .content-card p {
        font-size: 14px;
    }

    .testimonial .card-testi .content-card .profile-picture .title-card p {
        color: var(--text-muted-color);
        font-size: 14px;
    }

    .testimonial .card-testi .content-card .profile-picture img {
        width: 50px;
        height: 50px;
    }

    .testimonial .card-testi .content-card .profile-picture .title-card h4 {
        font-weight: 700;
        font-size: 16px;
    }

    .portofolio {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .wrapper-portofolio .porto-content{
        margin-bottom: 30px;
    }

    .porto-content {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0;
    }

    .porto-content .porto-img img {
        position: relative;
        width: 275px;
        height: auto;
        left: 0;
        border-radius: 15px;
    }

    .porto-content .porto-img-right img {
        position: relative;
        width: 275px;
        height: auto;
        border-radius: 15px;
    }

    .porto-content .container {
        margin: 30px 0 30px 0;
    }

    .porto-content .container .title-desc h1 {
        font-size: 16px;
        font-weight: 700;
    }

    .porto-content .container .title-desc h6 {
        font-size: 12px;
        font-weight: 500;
    }

    .porto-content .container .client {
        margin-top: 10px;
    }

    .porto-content .container .client img{
        width: 100px;
    }

    .porto-content .container .client p {
        font-size: 12px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .porto-content .container-left {
        margin: 30px 10px 30px 10px;
    }

    .porto-content .container-left .title-desc h1 {
        font-size: 16px;
        font-weight: 700;
    }

    .porto-content .container-left .title-desc h6 {
        font-size: 12px;
        font-weight: 500;
    }

    .porto-content .container-left .client {
        margin-top: 10px;
    }

    .porto-content .container-left .client img{
        width: 100px;
    }

    .porto-content .container-left .client p {
        font-size: 12px;
        font-weight: 500;
        color: var(--text-muted-color);
    }

    .vision-mission .content {
        margin-top: 30px;
    }

    .vision-mission .content img {
        width: 245px;
        height: auto;
        margin-bottom: 30px;
    }

    .vision-mission .content {
        display: flex;
        flex-direction: column;
    }

    .vision-mission .content .box {
        border: 0.787603px solid #DBDBDB;
        padding: 20px 25px;
        margin-bottom: 35px;
    }

    .vision-mission .content .desc .box h6 {
        font-size: 10px;
        color: var(--blue-color);
        font-weight: 600;
    }

    .vision-mission .content .desc .box h3 {
        font-size: 14px;
        color: var(--black-color);
        font-weight: 600;
    }

    .vision-mission .content .desc .box p {
        font-size: 12px;
        color: var(--text-muted-color);
        font-weight: 500;
    }

    footer .container {
        max-width: 300px;
    }

    footer .container .footer-content .footer-desc p {
        font-size: 14px;
        color: var(--text-muted-color);
        margin-bottom: 20px;
    }

    footer .container .footer-content .footer-social a {
        font-size: 14px;
        margin-bottom: 15px;
        text-decoration: none;
        color: var(--text-muted-color);
    }

    footer .container .footer-content .footer-item h1 {
        font-size: 18px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    footer .container .footer-content .footer-item .menu a {
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: var(--text-muted-color);
        margin: 5px 0;
    }

    footer .container .footer-content .footer-item .no-telp p {
        font-size: 32px;
        font-weight: 500;
    }

    footer .container .kopikanan {
        margin: 0 0;
        text-align: center;
        font-size: 14px;
        padding: 18px 10px;
    }
}
